body {
    max-width: 1340px;
    padding: 0 30px;
    margin: auto;
    font-family: 'Raleway';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 4rem;
}

nav {
    padding: 0;
}
nav ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

nav a {
    display: inline-block;
    /* width: 162px; */
    width: 10.1rem;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 46px;
    color: #0065FC;
}

.search-section h2 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 8px 0;
}

.search-section p {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
}

form.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* height: 50px; */ 
    height: 3.125rem;
}

.search-icon-container {
    flex-shrink: 0;
    width: 3.125rem;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input { 
    /* flex-shrink: 1; */
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    height: 100%;
    /* width: 235px; */
    width: 14.7rem;
    padding-left: 15px;
    line-height: 50px;
    font-size: 1.125rem;
    font-weight: 700;
}

.search-bar input:focus {
    outline: 2px solid #0065FC;
}

button.search-button {
    padding: 0 16px;
    height: 100%;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}

.search-button i {
    display: none;
}

.search-button span {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
}

.filters {
    margin: 32px 0;
    display: flex;
    align-items: center;
    gap: 36px;
}

.filters h2 {
    font-size: 1.375rem;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    font-size: 1.0625rem;
}

.filter-container button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #D9D9D9;
}

.filter-container button:hover {
    background-color: #DEEBFF;
}

.filter-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
}

.filter-container i {
    color: #0065FC;
}

.filter-container span {
    text-align: start;
    font-weight: 700;
    font-size: 1.0625rem;
}

.information {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.info-icon-container {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}

.information p {
    margin-left: 0.6875rem;
}

figure {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
}

figure img {
    display: block;
    object-fit: cover;
}

.lodging-card img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

figcaption {
    display: flex;
    flex-direction: column;
    padding-left: 5px; 
}

.lodging-card figcaption {
    height: 40%;
    justify-content: space-evenly;
}

figcaption h3,
figcaption p {
    margin: 0;
    color: black;
}

figcaption h3 {
    font-size: 1rem;
}

figcaption p {
    font-size: 0.875rem;
}

.star-container {
    font-size: 0.75rem;
}

i.blue {
    color:#0065FC;
}

i.grey {
    color: #F2F2F2;
}

.featured-card {
    display: flex;
    gap: 15px;
}

.featured-card img {
    height: 100%;
    width: 38%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.featured-card figcaption {
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px 0;
    padding: 0;
    justify-content: space-between;
}

.featured-card .text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.offers {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 40px;
}

.offers h2 {
    margin: 0;
    font-size: 1.375rem;
}

.lodging-container {
    box-sizing: border-box;
    width: 66%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.lodging-container > p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.3125rem;
    font-weight: 700;
}

.card-container > * {
    flex: 1 1 0;
}

.lodging-card-container > * {
    height: 12.5rem;
    flex-basis: 30%;
}

.featured-card-container > * {
    height: 9rem;
    max-height: 9rem;
}

.featured-container {
    box-sizing: border-box;
    width: 31%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lodging-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3%;
    row-gap: 30px;
}

.featured-container-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featured-card-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

a.card-link {
    text-decoration: none;
}

.activities {
    margin-top: 40px;
}

.activity-card-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.2%;
}

.activity-card {
    aspect-ratio: 0.679;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.activity-card img {
    border-radius: 20px 20px 0 0;
    height: 87%;
    width: 100%;
}

.activity-card figcaption {
    flex-grow: 1;
    justify-content: center;
}

.activity-card h3 {
    padding: 0 15px;
}



footer {
    margin-top: 60px;
    padding: 40px 70px 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer > * {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* media query for screens between 768px and 992px */
@media only screen and (min-width: 768px) and (max-width: 991px){
    /* * {
        outline: 1px solid limegreen !important;
    } */

    body {
        padding: 0 5%;
    }

    .filters h2 {
        font-size: 1.0625rem;
    }
    .filters {
        gap: 14px;
    }

    .filter-container {
        gap: 12px;
    }

    .filter-container span {
        font-size: .875rem;
    }

    .filter-container button {
        padding: 0 12px;
    }

    .offers {
        flex-direction: column;
        gap: 50px;
    }

    .offers > * {
        width: 100%;
    }

    .featured-card-container {
        flex-direction: row;
        gap: 2.8%;
    }

    .lodging-card-container > * {
        min-width: initial;
        height: initial;
        aspect-ratio: 1.236;
    }

    .featured-card-container > * {
        aspect-ratio: 1.55;
        height: initial;
    }

    .featured-card-container h3 {
        font-size: 14px;
    }

    .featured-card-container p {
        font-size: 13px;
    }

    .activity-card-container {
        gap: 5.7%;
    }

    .activity-card {
        max-height: 270px;
        height: initial;
        aspect-ratio: 0.68;
    }

    .activity-card figcaption {
        padding: 0;
    }
    .activity-card > img {
        height: 80%;
    }

    .activity-card h3 {
        padding: 0 15px;
        font-size: .9375rem;
    }

    footer { 
        padding: 40px 5%;
        gap: 10px;
    }
}


/* media query for devices under 768px */
@media only screen and (max-width: 767px) {
    /* * {
        outline: 1px solid limegreen !important;
    } */

    body {
        width: 100%;
        padding: 0;
    }
    header {
        flex-direction: column;
    }

    header > img {
        margin: 20px 0;
    }

    nav,
    nav ul,
    nav a {
        width: 100%;
    }

    nav ul > * {
        flex: 1 1 0;
    }

    nav a {
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    nav a:hover {
        border-top: initial;
        padding-top: 20px;
        border-color: #0065FC;
    }

    .search-section,
    .lodging-container,
    .activities,
    footer > * {
        width: 100%;
        box-sizing: border-box;
        max-width: 500px;
        margin: auto;
    }
    
    footer > * {
        padding-left: 20px;
    }

    .featured-container > * {
        max-width: 460px;
        margin: auto;
    }
    .featured-container-heading {
        width: 100%;
    }
    .search-section {
        padding: 0 20px;
    }
    .search-section h2 {
        margin-top: 30px;
    }

    form.search-bar {
        margin-top: 36px;
        width: 100%;
    }

    .search-button i {
        display: initial;
        color: white;
    }
    
    .search-button span {
        display: none;
    }

    .search-bar input {
        width: initial;
        flex: 1 1 0;
    }

    .filters {
        margin-top: 34px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .filters h2 {
        margin-top: 0;
    }

    .filter-container {
        gap: 14px;
        row-gap: 17px;
        width: 100%;
    }

    .filter-container button {
        padding: 0 12px;
        flex: 1 1 40%;
    }

    .filter-container span {
        font-size: .6875em;
    }

    .information {
        /* align-items: flex-start; */
        gap: 10px;
    }

    .information p { 
        margin: 0;
    }

    .offers {
        flex-direction: column;
    }

    .featured-container {
        border-radius: initial;
        order: -1;
        width: 100%;
        min-width: initial;
        padding: 40px 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .featured-card-container,
    .lodging-card-container {
        row-gap: 12px;
    }

    .activity-card-container {
        row-gap: 24px;
    }

    .featured-card-container > * {
        flex: initial;
    }
    
    .lodging-container {
        padding: 40px 20px;
        background-color: white;
        width: 100%;
    }

    .lodging-card-container > * {
        flex-basis: initial;
    }

    .lodging-container > p {
        display: none;
    }

    .activities {
        padding: 40px 20px;
    }

    .activity-card-container > * {
        width: 100%;
    }

    .activity-card {
        height: 190px;
        aspect-ratio: initial;
    }
    .activity-card > img {
        height: 135px;
    }

    .activity-card > figcaption {
        padding: 0;
    }

    footer {
        padding: 45px 0;
        flex-direction: column;
        gap: 40px;
    }

    footer > div {
        gap: 12px;
    }

    footer > div > h3 {
        margin-bottom: 8px;
    }
}