body {
    max-width: 1340px;
    padding: 0 30px;
    margin: auto;
    font-family: 'Raleway';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    /* height: auto; */
    width: 4rem;
}

nav {
    padding: 0;
}
nav ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

nav a {
    display: inline-block;
    /* width: 162px; */
    width: 10.1rem;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 46px;
    color: #0065FC;
}

.search-section h2 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 8px 0;
}

.search-section p {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
}

form.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* height: 50px; */ 
    height: 3.125rem;
}

.search-icon-container {
    /* width: 50px; */
    width: 3.125rem;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input { 
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    height: 100%;
    /* width: 235px; */
    width: 14.7rem;
    padding-left: 15px;
    line-height: 50px;
    font-size: 1.125rem;
    font-weight: 700;
}

#search-input:focus {
    outline: 2px solid #0065FC;
}

button.search-button {
    padding: 0 16px;
    height: 100%;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
/* 
button.search-button:hover {
    background-color: #004cbe;
} */
.search-button i {
    display: none;
}

.search-button p {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
}

.filters {
    margin: 32px 0;
    display: flex;
    align-items: center;
    gap: 36px;
}

.filters h2 {
    font-size: 1.375rem;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    font-size: 1.0625rem;
}

.filter-container button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #D9D9D9;
}

.filter-container button:hover {
    background-color: #DEEBFF;
}

.filter-container i {
    color: #0065FC;
}

.filter-container p {
    font-weight: 700;
    font-size: 1.0625rem;
    margin-top: 14px;
    margin-bottom: 14px;
}

.information {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.info-icon-container {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.info-icon-container {
    color: #0065FC;
}
.information p {
    margin-left: 0.6875rem;
}

.lodging-card {
    padding: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    width: 246px;
    height: 199px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.lodging-card img {
    width: 100%;
    height: 60%;
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.lodging-card figcaption {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px; 
}
.lodging-card figcaption h3,
.lodging-card figcaption p {
    margin: 0;
}

.lodging-card figcaption h3 {
    font-size: 1rem;
}

.lodging-card figcaption p {
    font-size: 0.875rem;
}

.star-container {
    font-size: 0.75rem;
}

i.blue {
    color:#0065FC;
}

i.grey {
    color: #F2F2F2;
}