body {
    max-width: 1340px;
    padding: 0 30px;
    margin: auto;
    font-family: 'Raleway';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    /* height: auto; */
    max-width: 5%;
}

nav {
    padding: 0;
}
nav ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

nav a {
    display: inline-block;
    width: 162px;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 46px;
    color: #0065FC;
}

.search-section h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin: 8px 0;
}

.search-section p {
    font-size: 1em;
    font-weight: 400;
    margin: 8px 0;
}

form.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.search-icon-container {
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
}

#search-input { 
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    height: 50px;
    width: 235px;
    padding-left: 15px;
    line-height: 50px;
    font-size: 1.125em;
    font-weight: 700;
}

#search-input:focus {
    outline: 2px solid #0065FC;
}

button.search-button {
    padding: 0 16px;
    height: 50px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
/* 
button.search-button:hover {
    background-color: #004cbe;
} */
.search-button i {
    display: none;
}

.search-button p {
    font-size: 1.125em;
    font-weight: 700;
    color: white;
}

.filters {
    border: 1px solid black;
    margin: 32px 0;
    display: flex;
    align-items: center;
}